.row{
	height:150px;
	margin-bottom:10px;
	background-color: #290000;
}
.container{
	background-color: #ffbabd;
	border: 5px solid #2cf12c;
}
.r1c1{
	background-color: #008081;
}
.r1c2{
	background-color: #d7bfd7
}
.r2c1{
	background-color: #fe6347;
}
.r2c2{
	background-color: #3fe0d0;
}
.r3c1{
	background-color: #ee82ef;
}
.r3c2{
	background-color: #ee82ef;
}
.e6{
	background-color:#9acd32
}
